# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PUBLIC_URL="YOUR_PUBLIC_URL_VALUE"

AUTH_SECRET="YOUR_AUTH_SECRET_VALUE"
AUTH_URL="YOUR_AUTH_URL_VALUE"

SALT_ROUNDS="YOUR_SALT_ROUNDS_VALUE"

RESEND_API_KEY="YOUR_RESEND_API_KEY_VALUE"

DATABASE_URL="YOUR_DATABASE_URL_VALUE"